body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    margin: 0;
}

.calculator {
    background-color: #f5f6f8f5;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 280px;
    padding: 10px;
}

.display {
    font-size: 24px;
    text-align: right;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    font-size: 30px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}